extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    h1 Pkslider plugin
    #pkslider
      .slides
        .slide
          img(src='images/landscape/01.jpg', alt='')
          img(src='images/landscape/02.jpg', alt='')
          img(src='images/landscape/03.jpg', alt='')
          img(src='images/landscape/04.jpg', alt='')